@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800);

@import url(https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900);

.menu {
  background-color: #272c3f;
  padding: 0px 10px;
}

.top-menu {
  height: 60px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.07);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-menu__block {
  font-size: 15px;
  display: flex;
  color: #e0e0e0;
}

.top-menu__boxes {
  border-right: 1px solid rgba(255, 255, 255, 0.07);
  padding: 0px 21px 0px 21px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-menu__boxes:first-child {
  padding: 0px 21px 0px 0px;
}

.top-menu__boxes:last-child {
  padding: 0px 0px 0px 21px;
  border-right: none;
}

.top-menu_icons {
  height: 15px;
}

.form__btn {
  cursor: pointer;
  background-color: rgba(192, 181, 150, 0);
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  border: 2px solid #c0b596;
  padding: 11px 28px;
  border-radius: 20px;
  transition: all 0.3s ease 0s;
}

.form__btn:hover {
  display: inline-block;
  background-color: #c0b596;
}

.form__btn_visibility {
  display: none;
}

.menu__body {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menu-logo {
  display: flex;
  align-items: center;
  overflow: hidden;
}

.menu-logo a {
  overflow: hidden;
  border-radius: 100%;
  cursor: pointer;
  height: 45px;
  width: 45px;
}

.menu-logo img {
  height: 45px;
}

.menu-logo__txt {
  font-size: 30px;
  color: #c0b596;
  margin-left: 5px;
}

.menu__list {
  height: 100%;
  font-weight: 500;
  font-size: 15px;
  display: flex;
}

.menu__list li:hover a {
  -webkit-animation: tremble 400ms linear alternate 0s;
          animation: tremble 400ms linear alternate 0s;
}

.menu__list li,
.menu__list a {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  height: 100%;
  color: #ffffff;
  transition: all 0.4s ease 0s;
}

.menu__list li:hover,
.menu__list a:hover {
  color: #c0b596;
}

.list-menu__items {
  display: flex;
  gap: 20px;
}

@-webkit-keyframes tremble {
  0% {
    transform: rotate(-8deg);
  }

  15% {
    transform: rotate(8deg);
  }

  45% {
    transform: rotate(-8deg);
  }

  60% {
    transform: rotate(8deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes tremble {
  0% {
    transform: rotate(-8deg);
  }

  15% {
    transform: rotate(8deg);
  }

  45% {
    transform: rotate(-8deg);
  }

  60% {
    transform: rotate(8deg);
  }

  80% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.header__burger {
  cursor: pointer;
  display: none;
}

.slider-image__block {
  cursor: pointer;
  overflow: hidden;
  box-sizing: border-box;
  max-height: 84vh;
  position: relative;
}

.image-slider__slide::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: linear-gradient(to right, rgba(21, 26, 48, 0.82) 32%, rgba(27, 32, 53, 0.82) 35%, rgba(138, 140, 151, 0) 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1151a30",endColorstr="#db151a30",GradientType=1);
  opacity: 0.75;
}

.image-slider__slide::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: linear-gradient(to left, rgba(21, 26, 48, 0.82) 32%, rgba(27, 32, 53, 0.82) 34%, rgba(138, 140, 151, 0) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#d1151a30",endColorstr="#db151a30",GradientType=1);
  opacity: 0.75;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  max-width: 100%;
}

.txt-slider__wrapper {
  color: #ffffff;
  position: absolute;
  top: 30%;
  left: 19.8%;
  z-index: 3;
}

.txt-slider__info {
  padding: 0px 0px 0px 0px;
}

.txt-slider__info h1 {
  display: block;
  font-size: 18px;
  font-weight: 400;
  margin: 0px 0px 20px 0px;
}

.txt-slider__info span {
  display: inline-block;
  font-size: 50px;
  font-weight: 500;
  left: 0;
  margin-left: -3px;
}

.btn-slider {
  cursor: pointer;
  color: #ffffff;
  margin-top: 30px;
  padding: 11px 25px;
  background-color: #c0b596;
  border-radius: 0%;
  border: none;
  font-size: 18px;
  transition: all 0.3s ease 0s;
}

.btn-slider:hover {
  background-color: #a29160;
}

.swiper-navigation-prev,
.swiper-navigation-next {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 45%;
  border: 0.1px solid #c0b596;
  border-radius: 8%;
  z-index: 5;
  height: 50px;
  width: 50px;
  transition: all 0.3s ease 0s;
}

.swiper-navigation-prev span,
.swiper-navigation-next span {
  width: 10px;
  height: 10px;
}

.swiper-navigation-prev:hover,
.swiper-navigation-next:hover {
  background-color: #c0b596;
}

.swiper-navigation-next {
  right: 2%;
}

.swiper-navigation-next span {
  border-top: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(45deg);
}

.swiper-navigation-prev {
  left: 2%;
}

.swiper-navigation-prev span {
  border-top: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  transform: rotate(-45deg);
}

.aboute-us {
  background-color: rgb(253, 253, 253);
  padding: 90px 7px 90px 7px;
}

.block-info {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.box-info {
  height: 100px;
  display: flex;
  flex: 1 1 33.33333%;
  box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}

.box-info__img {
  display: flex;
  justify-content: center;
  background-color: #c0b596;
  width: 90px;
}

.box-info__img img {
  width: 50px;
}

.box-info__title {
  background-color: #ffffff;
  padding: 7px 0px 7px 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.box-info__title span {
  font-weight: normal;
  font-size: 16px;
  color: #c0b596;
}

.box-info__title h3 {
  font-family: playfair display;
  color: #333333;
  font-weight: normal;
  font-size: 22px;
}

.main-about {
  display: flex;
  justify-content: space-between;
  margin: 90px 0px 0px 0px;
}

.no-webp .main-about__photo{
  background: url("/images/about-us/Lawayer-and-Books.jpg") center/cover no-repeat; }

.main-about__photo {
  position: relative;
  width: 520px;
  height: 520px;
  margin: 20px 40px 0px 20px;
  z-index: 1;
  box-shadow: -20px -20px 0 #c0b596;
}

.main-about__txt {
  max-width: 600px;
}

.main-about__txt h2 {
  color: #06163a;
  font-weight: 500;
  line-height: 1.3;
  font-size: 30px;
  font-family: playfair display;
  margin: 0px 0px 10px 0px;
}

.main-about__txt span {
  display: block;
  color: #06163a;
  padding: 0px 0px 10px 0px;
  font-weight: 500;
  font-size: 22px;
  font-family: playfair display;
}

.main-about__xp {
  text-align: justify;
  color: #727780;
  line-height: 1.6;
}

.main-about__btn {
  text-align: center;
  margin: 20px 0px 0px 0px;
}

.main-about__signature img {
  width: 130px;
  margin: 10px 0px 0px 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

body {
  font-family: Open Sans;
  color: #000;
  font-size: 15px;
}

[class*=__container] {
  max-width: 1150px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

@media (max-width: 1060px) {
  .menu__list {
    font-size: 13px;
  }

  .menu-logo__txt {
    font-size: 25px;
  }

  .top-menu {
    height: 50px;
  }

  .menu__body {
    height: 70px;
  }

  .txt-slider__info h1 {
    font-size: 15px;
    margin: 0px 0px 0px 0px;
  }

  .txt-slider__info span {
    font-size: 37px;
  }
}

@media (max-width: 900px) {
  .top-menu {
    padding: 10px 0px 0px 0px;
    flex-direction: column;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  .form__btn {
    margin: 15px 0 15px 0;
    padding: 3px 20px;
  }

  .form__btn_visibility {
    display: block;
  }

  .menu-logo__txt {
    display: none;
  }

  .top-menu__boxes {
    font-size: 13px;
    padding: 0px 7px 0px 7px;
    gap: 5px;
  }

  .top-menu__boxes:first-child {
    padding: 0px 7px 0px 0px;
  }

  .top-menu__boxes:last-child {
    padding: 0px 0px 0px 7px;
  }
}

@media (max-width: 767px) {
  body.lock {
    overflow: hidden;
  }

  .header__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 12;
  }

  .header__burger span {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 2px;
    left: 0;
    top: 9px;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before,
  .header__burger::after {
    content: "";
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  }

  .header__burger::before {
    top: 0;
  }

  .header__burger::after {
    bottom: 0;
  }

  .header__burger.active span {
    transform: scale(0);
  }

  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }

  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }

  .menu__list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    overflow: auto;
    background-color: #272c3f;
    transition: all 0.7s ease 0s;
    padding: 30px 10px 20px 10px;
    justify-content: center;
    z-index: 11;
  }

  .menu__list.active {
    right: 0;
  }

  .list-menu__items {
    margin: 40px 0px 0px 0px;
    flex-direction: column;
    align-items: center;
  }

  .list-menu__items li {
    width: 100px;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }

  .txt-slider__wrapper {
    max-width: 250px;
  }

  .txt-slider__info span {
    display: none;
  }

  .btn-slider {
    padding: 10px 12px;
    margin: 0px 0px 0px 0px;
  }

  .swiper-navigation-prev,
  .swiper-navigation-next {
    height: 30px;
    width: 30px;
  }

  .aboute-us {
    padding: 60px 7px 0px 7px;
  }

  .block-info {
    flex-direction: column;
  }

  .main-about {
    flex-direction: column;
    align-items: center;
  }

  .main-about__txt h2 {
    text-align: center;
    padding: 15px 0px 0px 0px;
  }

  .main-about__txt span {
    text-align: center;
  }
}

@media (max-width: 600px) {
  .main-about__photo {
    max-width: 80%;
    max-height: 440px;
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 500px) {
  .top-menu__boxes_invisyble {
    display: none;
  }

  .top-menu__block {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

@media (max-width: 467px) {
  .slider-image__block {
    min-height: 300px;
  }

  .image-slider__image img {
    height: 300px;
    -o-object-fit: none;
       object-fit: none;
  }
}

.webp .main-about__photo{ background: url(/images/about-us/Lawayer-and-Books.webp) center/cover no-repeat; }